*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* ------------
header start here
-------------- */
.pool-content{
    max-width: 900px;
    background-color:rgb(211, 250, 250); 
    padding: 20px;
    margin: 0 auto;
}
.profile-img{
    width: 100px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid white;
    float: left;   
}
.header-name{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: rgb(1, 100, 100);
}
.header-link{
    float: right;
}
.header-link a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-link a:hover{
    text-decoration: underline;
    color: tomato;
}
/* -----------
header ends here
----------- */

/* div clear */
.div-clear{
    clear: both;   
}
/*- hr -*/
hr{
    border: 3px solid black;
    margin: 15px auto;
    width: 100%;
    border-bottom: none;
}
/*- persnar-section start here -*/
.content{
 margin-bottom: 20px;
}
.left-div{
    width: 30%;
    float: left;
    font-weight: bold;
}
.right-div{
    width: 70%;
    float: left;
    font-weight: 550;
}
/* persnar-section ends here */

/* common-hr */
.common-hr{
    width: 100%;
    border: 2px solid black;
    border-bottom: none;
    margin: 20px auto;
}
b{
    color: rgb(1, 100, 100) ;
}
/* Education start here  */
.edu-left-div{
    float: left;
    width: 45%;
}
.edu-right-div{
    float: right;
    width: 45%;
}
.edu-left-div a{
    text-decoration: none;
    color: black;
}
.edu-right-div a{
    text-decoration: none;
    color: black;
}
/* Education ends here */

/* footer start here */
.footer-area{
    background-color: black;
    text-align: center;
    padding: 20px;
}
.footer-area a{
    text-decoration: none;
    color: white;
    margin: 20px;
}
.footer-area a:hover{
    text-decoration:underline;
    color: rgb(180, 180, 180);
}
.footer-area p{
    color: white;
    margin-top: 20px;
}
/* footer ends here */